<nav class="header" aria-label="Main Navigation">
    <div class="navbar">
        <div class="logo">
            Game Boxed
        </div>

        <div class="nav-link-container">
            <a href="/" title="Home" class="navigation-link">Home</a>
            <a href="/games" title="Games" class="navigation-link">Games</a>
            <a href="/news" title="News" class="navigation-link">News</a>
        </div>

        <div>
            <i class="fa-solid fa-sun"></i>
        </div>

    </div>

</nav>