<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/Banner.css" />
  <link rel="stylesheet" href="/styles/Landing.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <meta name="description" content="Game Boxed is a database of millions of games using IGDB's API.">
  <title>Game Boxed</title>
</head>

<body>
  <%- include("partials/header") %>

  <div class="container">
    <span>Test</span>
  </div>


  <script src="/js/dark.js" defer></script>
</body>

</html>