* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all 0.1s ease, color 0.1s ease;
}

:root {
  --base-color: #1c1d22;

  --text-color: #ffffff;
  --muted-text-color: #cecece;

  --card-background-color: #292b32;
  --card-hover-color: #383a44;

  --range-slider-color: #cecece;

  --link-color: #383a44;
  --link-hover-color: #34363f;

  --banner-background: #23252b;

  --svg-circle-fill: #34363f;

  --search-bar: #292b32;
  --border-color: rgb(62, 65, 76);

  --logo-b-color: #000000;
}

.lightmode {
  --base-color: #f9fbfd;

  --text-color: #000000;
  --muted-text-color: #606060;

  --card-background-color: #ffffff;
  --card-hover-color: rgb(242, 243, 244);

  --range-slider-color: #c7c7c7;

  --link-color: rgb(238, 238, 238);
  --link-hover-color: rgb(227, 227, 227);

  --banner-background: #ffffff;

  --svg-circle-fill: #c7c7c7;

  --search-bar: #ffffff;
  --border-color: #c7c7c7;

  --logo-b-color: #ffffff;
}

.header {
  position: sticky;
  z-index: 999;
  top: 0;
  font-size: 0.875rem;
  box-shadow: 0 0.5px 1px 0 var(--border-color);
  background-color: var(--banner-background);
  color: var(--text-color);
}

.logo-img {
  width: auto;
  height: 46px;
  fill: var(--text-color)
}

.a {
  fill: var(--text-color);
}

.b {
  fill: var(--logo-b-color);
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  text-decoration: none;
}

.logo-title {
  font-size: 0.913rem;
  user-select: none;
  font-weight: 700;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 70rem;
  padding: 12px;
}

.nav-link-container {
  display: flex;
  gap: 2.25rem;
}

.navigation-link {
  text-decoration-line: none;
  color: var(--text-color);
}

.navigation-link:hover {
  color: var(--muted-text-color);
}

#theme-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 25px;
}

.cs-moon,
.cs-sun {
  width: 16px;
  height: 15px;
}

#theme-switch svg:last-child {
  display: none;
}

.lightmode #theme-switch svg:first-child {
  display: none;
}

.lightmode #theme-switch svg:last-child {
  display: block;
}

@media only screen and (max-width: 768px) {
  .logo-container {
    display: none;
  }
}