* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* transition: all 0.2s ease, color 0.2s ease; */
}

:root {
  --base-color: #f9fbfd;

  --text-color: #000000;
  --muted-text-color: #606060;

  --card-background-color: #ffffff;
  --card-hover-color: rgb(238, 238, 238);

  --link-color: rgb(238, 238, 238);
  --link-hover-color: rgb(227, 227, 227);

  --banner-background: #ffffff;

  --search-bar: #ffffff;
  --border-color: #c7c7c7;
}

.darkmode {
  --base-color: #1c1d22;

  --text-color: #ffffff;
  --muted-text-color: #cecece;

  --card-background-color: #292b32;
  --card-hover-color: #383a44;

  --link-color: #383a44;
  --link-hover-color: #34363f;

  --banner-background: #23252b;

  --search-bar: #292b32;
  --border-color: rgb(62, 65, 76);
}

.header {
  position: sticky;
  z-index: 999;
  top: 0;
  font-size: 0.875rem;
  box-shadow: 0 0.5px 1px 0 var(--border-color);
  background-color: var(--banner-background);
  color: var(--text-color);
}

.logo {
  font-size: 0.913rem;
  user-select: none;
  font-weight: 700;
}

.logo-link {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 70rem;
  padding: 12px;
}

.nav-link-container {
  display: flex;
  gap: 2.25rem;
}

.navigation-link {
  text-decoration-line: none;
  color: var(--text-color);
}

.navigation-link:hover {
  color: var(--muted-text-color);
}

#theme-switch {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 25px;
}

.fa-moon,
.fa-sun {
  width: 45px;
  height: auto;
  font-size: 1.15rem;
}

.fa-sun {
  color: rgb(255, 179, 0);
}

#theme-switch i:last-child {
  display: none;
}

.darkmode #theme-switch i:first-child {
  display: none;
}

.darkmode #theme-switch i:last-child {
  display: block;
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}