body {
  background-color: var(--base-color);
}

.container {
  display: grid;
  grid-template-columns: 0.5fr auto;
  gap: 1rem;
  max-width: 900px;
  margin: auto;
  padding: 25px 12px;
}

.game-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  gap: 0.75rem;
}

.game-heading {
  font-weight: 500;
  color: var(--text-color);
}

.title {
  font-size: 1.063rem;
}

.release-date {
  font-size: 0.813rem;
  font-weight: 375;
  color: var(--text-color);
}

.description {
  font-weight: 400;
  color: var(--muted-text-color);
  font-size: 0.875rem;
}

.img {
  width: 202px;
  height: 270px;
  border-radius: 4px;
}

h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.875rem;
}

span {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-size: 0.813rem;
}

.custom-container {
  display: grid;
  gap: 1rem;
  max-width: 900px;
  margin: auto;
  padding: 12px 12px;
  grid-template-columns: 1.75fr 1fr;
}

.card {
  background-color: var(--card-background-color);
  box-shadow: rgba(32, 35, 40, 0.25) 0px 1px 1px,
    rgba(32, 35, 40, 0.13) 0px 0px 1px 1px;
  border-radius: 4px;
  padding: 0.75rem;
  gap: 0.5rem;
}

.gap-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.genre-platform {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-start;
}

.genre,
.platform {
  display: inline-flex;
  gap: 1rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--card-hover-color);
  padding: 0.25rem;
  margin: 0px 5px 5px 0px;
  border-radius: 4px;
}

.genre:hover,
.platform:hover {
  background-color: var(--base-color);
}

.muted {
  color: var(--muted-text-color);
  font-weight: 400;
}

.company {
  text-decoration: none;
}

.company:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--muted-text-color);
  text-underline-offset: 2px;
}

.right-column  {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-start;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .custom-container {
    grid-template-columns: 1fr;
  }
}
