.container {
    display: grid;
    grid-template-columns: 1fr 2fr;

    max-width: 70rem;
    margin: auto;
    padding: 0.75rem;
}

.side-area {
    position: sticky;
    top: 3rem;
    align-self: start;
}

.search-bar {
    width: 50%;
    padding: 0.25rem;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 1.25px;
    border-radius: 4px;
}

.main-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.75rem;
    width: 75%;
    padding: 0.75rem;
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.card:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.img {
    border-radius: 4px;
    width: 150px;
    height: 100px;
}

.description {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h5 {
     font-weight: 600;
     font-size: 0.875rem;
    }

    span {
    font-size: 0.75rem;
    color: #767676;
    }
}