body {
  background-color: var(--base-color);
}

.container {
  display: grid;
  grid-template-columns: 0.35fr 0.75fr;
  grid-template-areas: "sideArea mainArea";
  gap: 1rem;
  max-width: 900px;
  margin: auto;
  padding: 25px 12px;
}

.side-area {
  position: sticky;
  grid-area: "sideArea";
  top: 4rem;
  align-self: start;
}

.form-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.form {
  background-color: var(--search-bar);
  display: inline-flex;
  align-items: center;
  padding: 0.4rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  height: 35px;
  border-color: var(--border-color);
}

.search-bar {
  background-color: var(--search-bar);
  border-style: none;
  width: 250px;
}

.search-bar:focus {
  outline: none;
  color: var(--text-color);
}

.search-bar::placeholder {
  color: var(--muted-text-color);
}

.submit-button {
  cursor: pointer;
  background-color: var(--search-bar);
  color: var(--text-color);
  border-style: none;
}

.main-area {
  display: flex;
  flex-direction: column;
  grid-area: "mainArea";
  gap: 1rem;
  height: 100%;
}

.card {
  display: grid;
  background-color: var(--card-background-color);
  grid-template-columns: auto 1fr 0.25fr;
  grid-gap: 0.75rem;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  box-shadow: rgba(32, 35, 40, 0.25) 0px 1px 1px,
    rgba(32, 35, 40, 0.13) 0px 0px 1px 1px;
}

.card:hover {
  background-color: var(--card-hover-color);
  cursor: pointer;
}

.slug {
  text-decoration: none;
  color: var(--text-color);
}

.img,
.unknown {
  border-radius: 4px;
  width: 99px;
  height: 132px;
}

.unknown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  background-color: rgb(212, 212, 212);
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.875rem;
}

h6 {
  font-weight: 300;
  color: var(--text-color);
  font-size: 0.813rem;
}

span {
  font-size: 0.75rem;
  color: var(--muted-text-color);
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .logo {
    display: none;
  }

  .side-area{
    display: none;
  }
}
