body {
  background-color: var(--base-color);
}

.container {
  display: grid;
  grid-template-columns: 0.3fr 0.75fr;
  grid-template-areas:
    "titleArea titleArea"
    "sideArea mainArea";

  gap: 1rem;
  max-width: 920px;
  margin: auto;
  padding: 25px 12px;
}

.title {
  grid-area: titleArea;
  font-size: 1.5rem;
  color: var(--text-color);
}

.side-area {
  position: sticky;
  grid-area: sideArea;
  top: 4rem;
  align-self: start;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.side-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date-box {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas:
    "gridTitle gridTitle"
    "label input"
    "label input";
  align-items: center;
  gap: 0.25rem;
  color: white;
}

input[type="date"] {
  grid-area: "input";
  padding: 0.25rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"] {
  position: relative;
}

input[type="date"]::after {
  content: "\1F4C5";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
}

label {
  grid-area: label;
}

.date-title {
  grid-area: gridTitle;
}

.date-input {
  height: 35px;
  color: var(--text-color);

  background-color: var(--base-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: var(--border-color);
}

.select-dropdown {
  color: var(--text-color);
  border: none;
  cursor: pointer;
  width: 100%;
}

#range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 50%;
}

#range:focus {
  outline: none;
}

/* Chromium Browsers (Google Chrome, Edge...), Apple - Safari */
#range::-webkit-slider-runnable-track {
  background: var(--range-slider-color);
  border-radius: 4px;
  height: 0.45rem;
}

#range::-moz-range-track {
  background: var(--range-slider-color);
  border-radius: 4px;
  height: 0.45rem;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0877ff;
  height: 1rem;
  width: 1rem;
  border-radius: 12px;
  margin-top: -4px;
}

#range::-moz-range-thumb {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #0877ff;
  height: 1rem;
  width: 1rem;
  border-radius: 12px;
}

.form-button {
  cursor: pointer;
  color: var(--text-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
}

.form-button:hover {
  background-color: var(--card-hover-color);
}

.link {
  text-decoration: none;
  text-align: center;
}

.search-form {
  background-color: var(--search-bar);
  display: inline-flex;
  align-items: center;
  padding: 0.4rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  height: 35px;
  width: 50%;
  border-color: var(--border-color);
}

.search-form:focus-within {
  border-color: var(--text-color);
}

.search-bar {
  background-color: var(--search-bar);
  color: var(--text-color);
  border-style: none;
  width: 100%;
}

.search-bar:focus {
  outline: none;
}

.search-bar::placeholder {
  color: var(--muted-text-color);
}

.submit-button {
  cursor: pointer;
  background-color: var(--search-bar);
  color: var(--text-color);
  border-style: none;
}

.search-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: var(--text-color);
}

.card {
  background-color: var(--card-background-color);
  padding: 0.75rem;
  border-radius: 4px;

  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
}

.main-area {
  display: flex;
  flex-direction: column;
  grid-area: mainArea;
  gap: 1rem;
  height: 100%;
}

.main-card {
  display: grid;
  grid-template-columns: auto 1fr 0.25fr;
  grid-gap: 0.75rem;
  width: 100%;
}

.main-card:hover {
  background-color: var(--card-hover-color);
  cursor: pointer;
}

.slug {
  text-decoration: none;
  color: var(--text-color);
}

.img-container {
  width: 99px;
  aspect-ratio: 99 / 132;
  max-width: 100%;
}

.img,
.unknown {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.unknown {
  width: 99px;
  height: 132px;
}

.unknown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  background-color: var(--border-color);
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h6 {
  font-weight: 300;
  color: var(--text-color);
  font-size: 0.813rem;
}

h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.813rem;
}

span, select {
  font-size: 0.813rem;
  color: var(--text-color);
}

.muted {
  color: var(--muted-text-color);
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "mainArea";
    gap: 0rem;
  }

  .search-form {
    width: 100%;
  }

  .title {
    display: none;
  }

  .side-area {
    display: none;
  }

  .logo {
    display: none;
  }
}
