body {
  background-color: var(--base-color);
  overflow-y: hidden;
}

.container {
  max-width: 70rem;
  margin: auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.hero-image {
  position: absolute;
  margin: 0;
  z-index: -999;
}

.hero-image rect:nth-child(1) {
  fill: var(--base-color)
}

.hero-image pattern circle {
  fill: var(--svg-circle-fill);
}

h1 {
  font-size: 2rem;
  background: linear-gradient(rgb(38, 136, 255), rgb(0, 195, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: var(--text-color);
}

h3 {
  color: var(--text-color);
}

h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.875rem;
}

h6 {
  font-weight: 300;
  color: var(--text-color);
  font-size: 0.813rem;
}

span {
  font-size: 0.875rem;
  color: var(--text-color);
}

p {
  margin: 0.25rem 0px 3.125rem;
  color: var(--muted-text-color);
}

.start {
  border-style: solid;
  border-color: #71ca0b;  
  background: linear-gradient(#71ca0b, #589b0b);
  padding: 1rem 1.5rem;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.start:hover {
  background: linear-gradient(#81e70d, #589b0b);
}

.start:active{
  background: linear-gradient(#589b0b, #589b0b);
}