body {
  overflow-y: scroll;
  background-color: var(--base-color);
}

.container {
  max-width: 70rem;
  margin: auto;
  padding: 25px 12px;
}

h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.875rem;
}

h6 {
  font-weight: 300;
  color: var(--text-color);
  font-size: 0.813rem;
}

span {
  font-size: 0.875rem;
  color: var(--text-color);
}